{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <style>
        .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.contaider-button {
    max-width: 225px;
    margin: 0 auto;
    padding: 10px;
    background-color: #9050bb;
    border: 1px solid #8b098b;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

h1 {
    color: #86166a;
    text-align: center;
  } 

a {
    color:aliceblue;
    font-weight: bold;
}

button {
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    background-color: #9508f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
    </style>

    <script>
        function showGato() {   
            if(document.getElementById('gato-game').style.display == 'block') {
                document.getElementById('gato-game').style.display = 'none';
            }
            else {
                document.getElementById('pong-game').style.display = 'none';
                document.getElementById('gato-game').style.display = 'block';
            }
        }

        function showPong() {
            if(document.getElementById('pong-game').style.display == 'block') {
                document.getElementById('pong-game').style.display = 'none';
            }
            else {
                document.getElementById('pong-game').style.display = 'block';
                document.getElementById('gato-game').style.display = 'none';
            }
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
    <h3>Juegos</h3>

    <div class="container">
        <button onclick="showGato()">Tic Tac Toe</button>
        <div id="gato-game" style="display: none;">
            <a class="game-url" aria-current="page" href={% url 'gato' %}>
                <div class="contaider-button">
                    Jugar
                </div>
            </a>
            <br>
            <a class="game-url" href={% url 'gatoInst' %}>
                <div class="contaider-button">
                    Cómo jugar
                </div>
            </a>
        </div>

        <br>

        <button onclick="showPong()">Torres de Hanoi</button>
        <div id="pong-game" style="display: none;">
            <a class="game-url" aria-current="page" href={% url 'hanoi' %}>
                <div class="contaider-button">
                    Jugar
                </div>
            </a>
            <br>
            <a class="game-url" href={% url 'hanoiInst' %}>
                <div class="contaider-button">
                    Cómo jugar
                </div>
            </a>
        </div>
    </div>

{% endblock %}
