<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>Bienvenido a nuestra plataforma de juegos: {{ request.user.username | upper }}</h3>
    <p>
        <br>
        Aquí vas a encontrar el mejor entretenimiento
        <br>
        con juegos online. No necesitas descargar nada,
        <br>
        solo disfruta de nuestros servicios.
    </p>
</body>
</html>