{% extends 'base.html' %}

{% block content %}   
    <br>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={% url 'games' %}>Atrás</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'base' %}>Salir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'hanoi' %}>Jugar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% autoescape off %}
        {{ content }}
    {% endautoescape %}

{% endblock %}